.mainDiv {
  width: 500px;
}
.textDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrowRight {
  width: 0px;
  height: 0px;
  margin-right: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid black;
}
.arrowDown {
  width: 0px;
  height: 0px;
  margin-right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}
.borderDiv {
  border-bottom: 2px solid rgb(210, 210, 210);
  margin-top: 20px;
}
.answerField {
  word-wrap: break-word;
}
.removeButton {
  width: 150px;
}
